Case {
  margin-right: 20px;
}
/* .line {
  height: 500px;
  border: 1px solid blacl;
} */
.hAddr {
  position: relative;
  width: 500px;
  top: 5px;
  border-radius: 2px;
  background: #fff;
  z-index: 999;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}
